{% comment %}
  渲染一个manual对象

  Accepts:
  - manual: {Object}  manual对象

  Usage:
  {% render 'kawa-product-comment' %}
{% endcomment %}

<li class="manual-item">
  <div class="file-icon-wrap">
    <svg class="icon file-icon" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg">
      <path d="M853.333 1024H170.667c-25.6 0-42.667-17.067-42.667-42.667V42.667C128 17.067 145.067 0 170.667 0h682.666C878.933 0 896 17.067 896 42.667v938.666c0 25.6-17.067 42.667-42.667 42.667zm-640-85.333h597.334V85.333H213.333v853.334z"/>
      <path d="M554.667 298.667H341.333c-25.6 0-42.666-17.067-42.666-42.667s17.066-42.667 42.666-42.667h213.334c25.6 0 42.666 17.067 42.666 42.667s-17.066 42.667-42.666 42.667zM682.667 469.333H341.333c-25.6 0-42.666-17.066-42.666-42.666S315.733 384 341.333 384h341.334c25.6 0 42.666 17.067 42.666 42.667s-17.066 42.666-42.666 42.666zM597.333 640h-256c-25.6 0-42.666-17.067-42.666-42.667s17.066-42.666 42.666-42.666h256c25.6 0 42.667 17.066 42.667 42.666S622.933 640 597.333 640zM682.667 810.667H341.333c-25.6 0-42.666-17.067-42.666-42.667s17.066-42.667 42.666-42.667h341.334c25.6 0 42.666 17.067 42.666 42.667s-17.066 42.667-42.666 42.667z"/>
    </svg>
  </div>
  <div class="manual-content">
    <p class="manual-name">
      {{ manual.name }}
    </p>
    <p class="manual-time">
      {{ manual.time }}
    </p>
  </div>
  <a href="{{ manual.url }}" class="manual-url" target="_blank">
    <span class="manual-btn">
      {%- assign text = manual.type | downcase -%}
      {%- if text == 'pdf' -%}
        <svg class="icon-f pdf-download-icon" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg">
          <path d="M213.333 768h597.334q42.666 0 42.666 42.667 0 42.666-42.666 42.666H213.333q-42.666 0-42.666-42.666 0-42.667 42.666-42.667z"/>
          <path d="M170.667 810.6669999999999v-85.334q0-42.666 42.666-42.666 42.667 0 42.667 42.666v85.334q0 42.666-42.667 42.666-42.666 0-42.666-42.666zM768 810.6669999999999v-85.334q0-42.666 42.667-42.666 42.666 0 42.666 42.666v85.334q0 42.666-42.666 42.666-42.667 0-42.667-42.666zM512 640a42.667 42.667 0 0 1-24.747-7.68L316.587 512a42.667 42.667 0 0 1-10.24-59.307 42.667 42.667 0 0 1 59.733-10.24L512 544.427 657.067 435.2a42.667 42.667 0 0 1 51.2 68.267l-170.667 128A42.667 42.667 0 0 1 512 640z"/>
          <path d="M512 554.667A42.667 42.667 0 0 1 469.333 512V170.667a42.667 42.667 0 0 1 85.334 0V512A42.667 42.667 0 0 1 512 554.667z"/>
        </svg>
        {{ manual.type | upcase }}
      {%- else -%}
        <svg class="icon-f video-download-icon" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg">
          <path d="M256 287.616c0-65.877 71.424-106.88 128.341-73.728l384.64 224.427c56.448 32.896 56.448 114.474 0 147.413l-384.64 224.341C327.424 843.264 256 802.261 256 736.427V287.616zM725.973 512l-384.64-224.384v448.81L725.973 512z"/>
        </svg>
        {{ manual.type | capitalize }}
      {%- endif -%}
    </span>
  </a>
</li>
