<link
  rel="stylesheet"
  href="{{ 'component-header-kawa.css' | asset_url }}"
  media="print"
  onload="this.media='all'"
/>
<script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>

<div id="header">
  <div class="header-wrapper-kawa container">
    <div class="logo-container">
      <a href="/">
        <img
          id="header-logo"
          class="logo main-header-logo"
          src="https://cdn.shopify.com/s/files/1/0565/3135/3760/files/logo_2150b735-98c0-4cea-9c3f-00a808884338_128x.png?v=1659002283"
          width="100"
          height="100"
          loading="lazy"
        />
      </a>
    </div>
    <div class="nav-container">
      <ul class="nav-left">
        <li class="nav-item product-menu">
          <a class="nav-text">Shop</a>
          <div class="product-sub-menu">
            <div class="product-category-panel">
              <ul class="product-category-tab">
                {%- for collection in section.settings.collection_list -%}
                <li class="flex-b category-tab-{{ forloop.index }}">
                  {{ collection.title }}
                  <span
                    class="iconify icon-arrow-right"
                    data-icon="dashicons:arrow-right-alt2"
                  ></span>
                </li>
                {%- endfor -%}
              </ul>
              <div class="product-category-content">
                {%- for collection in section.settings.collection_list -%}
                <div
                  class="category-content category-content-{{ forloop.index }}"
                >
                  <div class="product-card-list flex flex-wrap">
                    {%- for product in collection.products -%}
                    <a
                      href="{{ product.url }}"
                      class="product-card-item flex-vc"
                    >
                      <img
                        class="product-card__img"
                        alt=""
                        loading="lazy"
                        src="{{ product.featured_media | image_url }}"
                        width="100"
                        height="100"
                      />
                      <div class="product-card__name">
                        {{ product.metafields.descriptors.subtitle }}
                      </div>
                      <div class="product-card__icon flex-cc">
                        <svg
                          width="35"
                          height="47"
                          viewBox="0 0 35 47"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            d="M0 44.9922V0H35V44.9922C35 46.4214 33.5443 47.3893 32.2263 46.8365L18.2737 40.9834C17.7788 40.7758 17.2212 40.7758 16.7263 40.9834L2.77367 46.8365C1.45572 47.3893 0 46.4214 0 44.9922Z"
                            fill="#21D2C5"
                          ></path>
                        </svg>
                        <span class="card-text">{{
                          product.metafields.custom.label
                        }}</span>
                      </div>
                    </a>
                    {%- endfor -%}
                  </div>
                </div>
                {%- endfor -%}
              </div>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-text">KEEN</a>
        </li>
        <li class="nav-item">
          <a class="nav-text">Support</a>
        </li>
        <li class="nav-item">
          <a class="nav-text">Deals</a>
        </li>
        <li class="nav-item">
          <a class="nav-text">Partner</a>
        </li>
      </ul>
      <ul class="nav-right">
        <li class="nav-icon search-nav">
          <a><span class="iconify" data-icon="fe:search"></span></a>
        </li>
        <li class="nav-icon account-nav">
          <a><span class="iconify" data-icon="charm:person"></span></a>
        </li>
        <li class="nav-icon manage-nav">
          <a><span class="iconify" data-icon="bx:shopping-bag"></span></a>
        </li>
        <li class="nav-icon lang-nav">
          <a>
            <span class="iconify" data-icon="mingcute:earth-line"></span>
            <span class="current-lang">Other Regions</span>
          </a>
        </li>
      </ul>
      <div class="nav-hamburger">
        <span class="iconify nav-switch" data-icon="cil:hamburger-menu"></span>
      </div>
    </div>
    <div class="cart-icon-container">
      <span
        class="iconify"
        data-icon="ion:cart-outline"
        style="color: #333"
      ></span>
    </div>
  </div>

  <!-- drawer -->
  <div class="kawa-drawer">
    <span
      class="iconify kawa-drawer-close"
      data-icon="ant-design:close-outlined"
    ></span>
    <ul class="sidebar-menu">
      {%- for link in linklists.main-menu.links -%}
      <li class="{%- if link.links.size > 0 -%}has-child{%- endif -%}">
        <a
          href="{{ link.url }}"
          class="d-flex justify-content-between align-items-center"
        >
          {{ link.title }}
          {%- if link.links.size > 0 -%}
          <span class="iconify" data-icon="ep:arrow-down-bold"></span>
          {%- endif -%}
        </a>
        {%- if link.links.size > 0 -%}
        <ul class="sidebar-sub-menu">
          {%- for sub-link in link.links -%} {%- case sub-link.type -%} {%- when
          'collection_link' -%}
          <li class="collection-menu">
            <a>
              {{ sub-link.title }}
            </a>
            {%- assign collection = sub-link.object -%}
            <div class="collection-menu-products">
              {%- for product in collection.products -%}
              <a href="{{ product.url }}" class="product-card-link">
                <img
                  src="{{ product.featured_media | image_url }}"
                  class="w-100-h-auto"
                  loading="lazy"
                  width="100"
                  height="100"
                />
                <div class="product-card-subtitle">
                  {{ product.metafields.descriptors.subtitle }}
                </div>
              </a>
              {%- endfor -%}
            </div>
          </li>
          {%- else -%}
          <li>
            <a href="{{ sub-link.url }}">
              {{ sub-link.title }}
            </a>
          </li>
          {%- endcase -%} {%- endfor -%}
        </ul>
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>
  </div>
</div>

<script type="text/javascript">
  const productCategoryTabList = [];
  const addTabMenuMouseenter = (tab) => {
    tab.tabMenu.addEventListener("mouseenter", (e) => {
      productCategoryTabList.forEach((t) => {
        t.tabMenu.classList.remove("active");
        t.tabContent.classList.remove("active");
      });
      tab.tabMenu.classList.add("active");
      tab.tabContent.classList.add("active");
    });
  };

  const allTabs = document.getElementsByClassName("category-content");
  for (let i = 1; i <= allTabs.length; i++) {
    const temp = {
      tabMenu: document.querySelector(`.category-tab-${i}`),
      tabContent: document.querySelector(`.category-content-${i}`),
    };
    productCategoryTabList.push(temp);
    addTabMenuMouseenter(temp);
  }

  //drawer
  window.addEventListener("load", () => {
    const drawerEle = document.querySelector(".kawa-drawer");
    const drawerTrigger = document.querySelector(".nav-hamburger .nav-switch");
    const menu = document.querySelector(".sidebar-menu");
    const mainContent = document.querySelector("#MainContent");
    drawerEle.style.transition = "all 0.3s ease-in";
    drawerTrigger.onclick = () => {
      drawerEle.classList.add("drawer-display");
      mainContent.style.display = "none";
    };
    drawerEle.onclick = () => {
      drawerEle.classList.remove("drawer-display");
      mainContent.style.display = "block";
    };
    menu.onclick = (e) => {
      e.stopPropagation();
    };
  });

  //拥有子元素的菜单
  const hasChildMenus = document.querySelectorAll(".sidebar-menu .has-child");
  Array.from(hasChildMenus).forEach((hasChildMenu) => {
    hasChildMenu.onclick = () => {
      hasChildMenu.classList.toggle("is-open");
    };
  });
  //产品系列菜单
  const collectionMenus = document.querySelectorAll(
    ".sidebar-menu .sidebar-sub-menu .collection-menu"
  );
  Array.from(collectionMenus).forEach((collectionMenu) => {
    collectionMenu.onclick = (e) => {
      if (!collectionMenu.classList.contains("is-expand")) {
        Array.from(collectionMenus).forEach((cm) => {
          cm.classList.remove("is-expand");
        });
      }
      collectionMenu.classList.toggle("is-expand");
      e.stopPropagation();
    };
  });
  //阻止事件冒泡
  const collectionMenuProducts = document.querySelectorAll(
    ".sidebar-menu .sidebar-sub-menu .collection-menu .collection-menu-products"
  );
  Array.from(collectionMenuProducts).forEach((el) => {
    el.onclick = (e) => {
      e.stopPropagation();
    };
  });
</script>

{% schema %} { "name": "t:sections.kawa-header.name", "settings": [ { "type":
"collection_list", "id": "collection_list", "label": "产品系列列表" } ] } {%
endschema %}
