{{ "kawa-main-search.css" | asset_url | stylesheet_tag }}

<div class="kawa-main-search">
  <div class="search-header">
    <div class="search-title">
      {{ search.results_count }} RESULTS FOR "<strong class="highlight">{{ search.terms }}</strong>"
    </div>
    {%- render 'kawa-common-search' -%}
  </div>

  {%- assign search_type = search.types | first -%}
  {%- case search_type -%}
    {%- when 'product' -%}
      <ul>
        {%- for product in search.results -%}
          <li class="product-item">
            <div class="product-card">
              <div class="product-img__wrap">
                <a href="{{ product.url }}">
                  <img src="{{ product.featured_image | image_url }}" width="100" height="100" loading="lazy"/>
                </a>
              </div>
              <div class="product-info__wrap">
                <h3 class="product-title">
                  <a href="{{ product.url }}">
                    {{ product.title | highlight: search.terms }}
                  </a>
                </h3>
                <div class="product-price">
                  ${{ product.price | money_without_currency }}
                </div>
                <div class="learn-more-btn">
                  <a href="{{ product.url }}">
                    Learn More
                  </a>
                </div>
              </div>
            </div>
          </li>
        {%- endfor -%}
      </ul>

    {%- when 'article' -%}
      <ul class="search-article-list">
        {%- for article in search.results -%}
          <li class="article-item">
            <h2>
              <a href="{{ article.url }}">
                {{ article.title | highlight: search.terms }}
              </a>
            </h2>
            <article>
              <ul class="meta-group">
                <li class="article-breadcrumbs">&nbsp;</li>
                <li class="article-author">{{ article.author }}</li>
                <li class="article-time">
                  {{ article.published_at | date: format: 'date_at_time' }}
                </li>
              </ul>
              <div class="article-excerpt">
                {{ article.excerpt_or_content }}
              </div>
            </article>
          </li>
        {%- endfor -%}
      </ul>
    {%- else -%}
  {%- endcase -%}
</div>