{{ "kawa-flash-sale.css" | asset_url | stylesheet_tag }}

<div class="kawa-flash-sale {{ section.id }}">
    {%- for block in section.blocks -%}
    {%- assign product = block.settings.product -%}
        <div class="shop-row" {{ block.shopify_attributes }}>
            <div class="product-left__image">
                <img
                    src="{{ product.featured_media | image_url }}"
                    class="product-image"
                    width="100"
                    height="100"
                    loading="lazy"/>
            </div>
            <div class="product-right__info">
                <ul class="product-tabs">
                    {%- for inline_block in section.blocks -%}
                        <li class="flash-sale-product__tab  product-tab-{{ forloop.index }}
                            {% if product.title == inline_block.settings.product.title %}
                            active
                            {% endif %}">
                            {{ inline_block.settings.product.metafields.descriptors.subtitle }}
                        </li>
                    {%- endfor -%}
                </ul>
                <div class="product-details-wrapper">
                    <h3 class="product-title">
                        {{ product.title }}
                        <a href="{{ product.url }}" class="product-link">
                            <span>Learn More</span>
                            <span
                                class="iconify icon-arrow-right"
                                data-icon="dashicons:arrow-right-alt2"
                            ></span>
                        </a>
                    </h3>
                    <ul class="product-tags">
                        {%- assign tags = block.settings.product_tags | escape | split: "," -%}
                        {%- for tag in tags -%}
                            <li class="product-tag">
                                <span>
                                    {{ tag | escape }}
                                </span>
                            </li>
                        {%- endfor -%}
                    </ul>
                    <div class="shop-button-wrap">
                        <button class="shop-button">
                            <span>Add To Cart</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    {%- endfor -%}
</div>

<script>
window.addEventListener("load",() => {
    const sectionId = "{{ section.id }}";
    const productPanels = document.querySelectorAll(`.${sectionId}.kawa-flash-sale .shop-row`)
    const productTabs = document.querySelectorAll(`.${sectionId}.kawa-flash-sale .product-tabs`);

    Array.from(productPanels).forEach((pp) => {
        pp.style.display = "none";
    })
    console.log(productPanels[0].style.display);
    productPanels[0].style.display = "flex";

    for(let i = 1; i <= productTabs.length; i++) {
        Array.from(productTabs).forEach((tabs) => {
            const tabI = tabs.querySelector(`.product-tab-${i}`);
            tabI.addEventListener("click",() => {
                Array.from(productPanels).forEach((productPanel) => {
                    productPanel.style.display = "none";
                })
                productPanels[i - 1].style.display = "flex";
            })
        })
    }
})
</script>

{% schema %}
{
    "name": "热销产品section",
    "tag": "section",
    "blocks":[
        {
            "type": "flash-sale-product",
            "name": "热销产品",
            "settings":[
                {
                    "type": "product",
                    "id": "product",
                    "label": "产品"
                },
                {
                    "type": "text",
                    "id": "product_tags",
                    "label": "产品标签"
                }
            ]
        }
    ]
}
{% endschema %}