{{ "kawa-support-manuals.css" | asset_url | stylesheet_tag }}

<div class="kawa-support-manuals">
  <h3 class="manuals-header">
    <svg class="icon-f manual-icon" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg">
      <path d="M512 804.096H89.6c-26.581 0-46.933-19.883-46.933-45.867V131.2c0-26.027 20.352-45.867 46.933-45.867h284.715c101.717 0 184.618 81.067 184.618 180.48v492.374c0 26.026-21.888 45.909-46.933 45.909zm-375.467-91.733h328.534V265.728c0-48.939-40.662-88.661-90.752-88.661H136.533v535.21z"/>
      <path d="M512 938.667c-26.581 0-46.933-19.883-46.933-45.867 0-48.939-40.662-88.747-90.752-88.747-26.582 0-46.934-19.84-46.934-45.824 0-26.026 20.352-45.909 46.934-45.909 101.717 0 184.618 81.067 184.618 180.48 0 25.984-21.888 45.867-46.933 45.867z"/>
      <path d="M512 938.667c-26.581 0-46.933-19.883-46.933-45.867 0-99.413 82.901-180.48 184.618-180.48 26.582 0 46.934 19.883 46.934 45.91 0 25.983-20.352 45.866-46.934 45.866-50.09 0-90.752 39.765-90.752 88.704 0 25.984-21.888 45.867-46.933 45.867z"/>
      <path d="M934.4 804.096H512c-26.581 0-46.933-19.883-46.933-45.867V265.771c0-99.371 82.901-180.438 184.618-180.438H934.4c26.581 0 46.933 19.883 46.933 45.867v627.03c0 25.983-21.888 45.866-46.933 45.866zm-375.467-91.733h328.534V177.067H649.685c-50.09 0-90.752 39.722-90.752 88.661v446.55z"/>
    </svg>
    <span class="title-text">
      {{ section.settings.title }}
    </span>
  </h3>
  <div class="category-manual-list">
    {% if section.settings.show_category %}
      <div class="category-list {% unless section.settings.show_category %} has-border {% endunless %}">
        <span class="manual-search-box">
          <span class="manual-search-icon__wrap">
            <svg class="icon icon-search" aria-hidden="true" focusable="false" role="presentation">
              <use href="#icon-search">
            </svg>
          </span>
          <input placeholder="Search" aria-label="Search" class="manual-search-input" type="text" value="">
        </span>
        <ul class="category-menu">
          {%- for collection in collections -%}
            <li class="category-menu-item">
              <div class="collection-name">
                <span>
                  {{ collection.title }}
                </span>
                <div class="switch-icon">
                  {% render 'icon-kawa-arrow-right' %}
                </div>
              </div>
              <ul class="product-menu">
                {%- for product in collection.products -%}
                  <li class="product-menu-item">
                    <span>
                      {{ product.metafields.descriptors.subtitle }}
                    </span>
                    <div class="product-hidden-manuals">
                      <ul>
                        {%- assign manuals = product.metafields.custom.manuals.value -%}
                        {%- for manual in manuals -%}
                          {%- render 'kawa-manual', manual: manual -%}
                        {%- endfor -%}
                      </ul>
                    </div>
                  </li>
                {%- endfor -%}
              </ul>
              <div class="collection-hidden-manuals">
                <ul>
                  {%- for product in collection.products -%}
                    {%- liquid
                      assign manuals = product.metafields.custom.manuals.value
                    -%}
                    {%- for manual in manuals -%}
                      {%- render 'kawa-manual', manual: manual -%}
                    {%- endfor -%}
                  {%- endfor -%}
                </ul>
              </div>
            </li>
          {%- endfor -%}
        </ul>
      </div>
    {% endif %}
    <ul class="manual-list {% unless section.settings.show_category %} no-padding-left {% endunless %}">
      {%- if section.settings.show_category -%}
        {%- for collection in collections -%}
          {%- for product in collection.products -%}
            {%- liquid
              assign manuals = manuals | concat: product.metafields.custom.manuals.value
            -%}
          {%- endfor -%}
        {%- endfor -%}
      {%- else -%}
        {%- assign manuals = section.settings.product.metafields.custom.manuals.value -%}
      {%- endif -%}
      {%- for manual in manuals limit: 7 -%}
        <li class="manual-item">
          <div class="file-icon-wrap">
            <svg class="icon file-icon" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg">
              <path d="M853.333 1024H170.667c-25.6 0-42.667-17.067-42.667-42.667V42.667C128 17.067 145.067 0 170.667 0h682.666C878.933 0 896 17.067 896 42.667v938.666c0 25.6-17.067 42.667-42.667 42.667zm-640-85.333h597.334V85.333H213.333v853.334z"/>
              <path d="M554.667 298.667H341.333c-25.6 0-42.666-17.067-42.666-42.667s17.066-42.667 42.666-42.667h213.334c25.6 0 42.666 17.067 42.666 42.667s-17.066 42.667-42.666 42.667zM682.667 469.333H341.333c-25.6 0-42.666-17.066-42.666-42.666S315.733 384 341.333 384h341.334c25.6 0 42.666 17.067 42.666 42.667s-17.066 42.666-42.666 42.666zM597.333 640h-256c-25.6 0-42.666-17.067-42.666-42.667s17.066-42.666 42.666-42.666h256c25.6 0 42.667 17.066 42.667 42.666S622.933 640 597.333 640zM682.667 810.667H341.333c-25.6 0-42.666-17.067-42.666-42.667s17.066-42.667 42.666-42.667h341.334c25.6 0 42.666 17.067 42.666 42.667s-17.066 42.667-42.666 42.667z"/>
            </svg>
          </div>
          <div class="manual-content">
            <p class="manual-name">
              {{ manual.name }}
            </p>
            <p class="manual-time">
              {{ manual.time }}
            </p>
          </div>
          <a href="{{ manual.url }}" class="manual-url" target="_blank">
            <span class="manual-btn">
              {%- assign text = manual.type | downcase -%}
              {%- if text == 'pdf' -%}
              <svg class="icon-f pdf-download-icon" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg">
                <path d="M213.333 768h597.334q42.666 0 42.666 42.667 0 42.666-42.666 42.666H213.333q-42.666 0-42.666-42.666 0-42.667 42.666-42.667z"/>
                <path d="M170.667 810.6669999999999v-85.334q0-42.666 42.666-42.666 42.667 0 42.667 42.666v85.334q0 42.666-42.667 42.666-42.666 0-42.666-42.666zM768 810.6669999999999v-85.334q0-42.666 42.667-42.666 42.666 0 42.666 42.666v85.334q0 42.666-42.666 42.666-42.667 0-42.667-42.666zM512 640a42.667 42.667 0 0 1-24.747-7.68L316.587 512a42.667 42.667 0 0 1-10.24-59.307 42.667 42.667 0 0 1 59.733-10.24L512 544.427 657.067 435.2a42.667 42.667 0 0 1 51.2 68.267l-170.667 128A42.667 42.667 0 0 1 512 640z"/>
                <path d="M512 554.667A42.667 42.667 0 0 1 469.333 512V170.667a42.667 42.667 0 0 1 85.334 0V512A42.667 42.667 0 0 1 512 554.667z"/>
              </svg>
                {{ manual.type | upcase }}
              {%- else -%}
              <svg class="icon-f video-download-icon" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg">
                <path d="M256 287.616c0-65.877 71.424-106.88 128.341-73.728l384.64 224.427c56.448 32.896 56.448 114.474 0 147.413l-384.64 224.341C327.424 843.264 256 802.261 256 736.427V287.616zM725.973 512l-384.64-224.384v448.81L725.973 512z"/>
              </svg>
                {{ manual.type | capitalize }}
              {%- endif -%}
            </span>
          </a>
        </li>
      {%- endfor -%}
    </ul>
    {%- if section.settings.show_category -%}
      <div class="loading-overlay__spinner">
        <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
          <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
        </svg>
    {%- endif -%}
  </div>
</div>

<script>
  //展示说明书列表框
  const manualsDisplay = document.querySelector(".kawa-support-manuals .manual-list");
   //loading
   const loadingEl = document.querySelector(".kawa-support-manuals .loading-overlay__spinner");

  let timeId;

  //替换要展示的说明书列表
  function replaceNewManuals(oldParent) {
    manualsDisplay.innerHTML = "";
    loadingEl.style.display = "block";
    if(timeId) {
      clearTimeout(timeId);
    }
    const seconds = 300*Math.random() + 200;
    timeId = setTimeout(() => {
      loadingEl.style.display = "none";
      oldParent.childNodes.forEach((node) => {
        manualsDisplay.append(node.cloneNode(true));
      });
    },seconds);
  }

  const collectionNameEls = document.querySelectorAll(".kawa-support-manuals .category-menu-item");
  Array.from(collectionNameEls).forEach((el) => {
    el.addEventListener("click", () => {
      el.classList.toggle("active");
      const manualsNode = el.querySelector(".collection-hidden-manuals ul");
      replaceNewManuals(manualsNode);
    })
  });
  const productNameEls = Array.from(collectionNameEls).map((el) => {
    return Array.from(el.querySelectorAll(".product-menu-item"));
  }).flat();
  productNameEls.forEach((el) => {
    el.addEventListener("click", (event) => {
      if (el.classList.contains("active")) {
        el.classList.remove("active");
      } else {
        productNameEls.forEach((eel) => {
          eel.classList.remove("active");
        })
        el.classList.add("active");
      }

      const manualsNode = el.querySelector(".product-hidden-manuals ul");
      replaceNewManuals(manualsNode)
      event.stopPropagation();
    });
  });

  //搜索
  const allManuals = document.querySelectorAll(".kawa-support-manuals .collection-hidden-manuals li");
  function filterManual(text){
    const ul = document.createElement("ul");
    Array.from(allManuals).forEach((manual) => {
      if(manual.innerText.toLowerCase().includes(text.toLowerCase())){
        ul.append(manual.cloneNode(true));
      }
    });
    replaceNewManuals(ul);
  }
  const manualSearchInput = document.querySelector(".kawa-support-manuals .manual-search-input");
  manualSearchInput.addEventListener("input",(e) => filterManual(e.target.value));
</script>

{% schema %}
  {
    "name": "mannual section",
    "tag": "section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "标题"
      }, {
        "type": "checkbox",
        "id": "show_category",
        "label": "是否展示左边的菜单",
        "info": "当选择不展示左边菜单的时候，需要选择一个产品来展示其manuals",
        "default": false
      }, {
        "type": "product",
        "id": "product",
        "label": "要展示其mannuals的产品"
      }
    ]
  }
{% endschema %}