{{ "kawa-app-download.css" | asset_url | stylesheet_tag }}

<div class="kawa-app-download">
    <div class="download-bg">
        <img
            src="{{ settings.app_download_bg | image_url }}"
            width="100"
            height="100"
            loading="lazy"
        />
    </div>
    <div class="download-content">
        <div class="download-title">
            <img
                src="{{ settings.app_download_logo | image_url }}"
                width="48"
                height="48"
                loading="lazy"
            />
            <h3>{{ settings.app_download_title }}</h3>
        </div>
        <p class="download-des">
            {{ settings.app_download_des }}
        </p>
        <div class="download-learn-more">
            <a href=" {{ settings.app_download_learn_more }} ">
                Learn More >
            </a>
        </div>
        <div class="download-play">
            <div class="play-item">
                <a href=" {{ settings.app_download_ios }} ">
                    <img
                        src="https://cdn.shopifycdn.net/s/files/1/0608/5528/7860/files/app-store.png?v=1666576881"
                        width="100"
                        height="100"
                        loading="lazy"
                    />
                </a>
                <p>
                    {{ settings.app_download_ios_tips }}
                </p>
            </div>
            <div class="play-item">
                <a href=" {{ settings.app_download_android }} ">
                    <img
                        src="https://cdn.shopifycdn.net/s/files/1/0608/5528/7860/files/google-play.png?v=1666576886"
                        width="100"
                        height="100"
                        loading="lazy"
                    />
                </a>
                <p>
                    {{ settings.app_download_android_tips }}
                </p>
            </div>
            <div class="qr-content">
                <img
                    src="{{ settings.app_download_code | image_url }}"
                    width="100"
                    height="100"
                    loading="lazy"
                />
                <p>
                    {{ settings.app_download_code_tips }}
                </p>
            </div>
        </div>
        <div class="direct-download">
            <a href="/app">
                <span class="iconify" data-icon="akar-icons:download"></span>
                <span>
                    {{ settings.app_download_apk_tips }}
                </span>
            </a>
        </div>
    </div>
    <div class="download-bg-mb">
        <img
            class="w-100-h-auto"
            src="{{ settings.app_download_bg_mb | image_url }}"
            width="100"
            height="100"
            loading="lazy"
        />
    </div>
</div>

{% schema %}
{
    "name": "app下载模块",
    "tag": "section"
}
{% endschema %}