{{ "kawa-support-manuals.css" | asset_url | stylesheet_tag }}

<div class="kawa-support-manuals">
    <h3 class="manuals-header">
        <span class="iconify manual-icon" data-icon="bx:book-open"></span>
        <span class="title-text">
            {{ section.settings.title }}
        </span>
    </h3>
    <div class="category-manual-list">
        {% if section.settings.show_category %}
            <div class="category-list">
            </div>
        {% endif %}
        <ul class="manual-list {% unless block.settings.show_category %} no-padding-left {% endunless %}">
            {%- assign manuals = section.settings.product.metafields.custom.manuals.value -%}
            {%- for manual in manuals -%}
                <li class="manual-item">
                    <div class="file-icon-wrap">
                        <span class="iconify file-icon" data-icon="bi:file-text"></span>
                    </div>
                    <div class="manual-content">
                        <p class="manual-name">
                            {{ manual.name }}
                        </p>
                        <p class="manual-time">
                            {{ manual.time }}
                        </p>
                    </div>
                    <a href="{{ manual.url }}" class="manual-url" target="_blank">
                        <span class="manual-btn">
                            {%- assign text = manual.type | downcase -%}
                            {%- if text == 'pdf' -%}
                                <span class="iconify pdf-download-icon" data-icon="akar-icons:download"></span>
                                {{ manual.type | upcase }}
                                {%- else -%}
                                <span class="iconify video-download-icon" data-icon="fluent:play-12-regular"></span>
                                {{ manual.type | capitalize }}
                            {%- endif -%}
                        </span>
                    </a>
                </li>
            {%- endfor -%}
        </ul>
    </div>
</div>


{% schema %}
{
    "name": "mannual section",
    "tag": "section",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "标题"
        },
        {
            "type": "checkbox",
            "id": "show_category",
            "label": "是否展示左边的菜单",
            "info": "当选择不展示左边菜单的时候，需要选择一个产品来展示其manuals",
            "default": false
        },
        {
            "type": "product",
            "id": "product",
            "label": "要展示其mannuals的产品"
        }
    ]
}
{% endschema %}