{{ "kawa-flash-sale-banner.css" | asset_url | stylesheet_tag }}

{% style %}
    .kawa-flash-sale-banner {
        text-align: center;
        position: relative;
        background-size: initial;
        background-position: top center;
        background-image: url({{ section.settings.bg_image | image_url }});
    }
{% endstyle %}

<div class="kawa-flash-sale-banner">
    <div class="banner-inner">
        <h3 class="banner-subtitle">
            {{ section.settings.subtitle }}
        </h3>
        <h1 class="banner-title">
            {{ section.settings.title }}
        </h1>
        <div class="banner-des hide-more">
            {{ section.settings.des }}
        </div>
        <p class="show-more-btn">
            <span class="iconify" data-icon="ep:arrow-down"></span>
        </p>
    </div>
</div>
<div class="kawa-flash-sale-banner--mb banner--mb">
    <h3 class="banner-subtitle--mb">
        {{ section.settings.subtitle }}
    </h3>
    <div class="banner-des--mb hide-more--mb">
        {{ section.settings.des }}
    </div>
    <p class="show-more-btn--mb">
        <span class="iconify" data-icon="ep:arrow-down"></span>
    </p>
</div>

<script>
    (function(){
        const arrowBtn = document.querySelector(".kawa-flash-sale-banner .show-more-btn");
        const desEl = document.querySelector(".kawa-flash-sale-banner .banner-des");
        arrowBtn.addEventListener("click",()=> {
            arrowBtn.classList.toggle("active");
            desEl.classList.toggle("hide-more");
        })


        const arrowBtnMb = document.querySelector(".kawa-flash-sale-banner--mb .show-more-btn--mb");
        const desElMb = document.querySelector(".kawa-flash-sale-banner--mb .banner-des--mb");
        arrowBtnMb.addEventListener("click",()=> {
            arrowBtnMb.classList.toggle("active");
            desElMb.classList.toggle("hide-more--mb");
        })
    })();
</script>

{% schema %}
{
    "name": "flash sale banner",
    "tag": "section",
    "settings": [
        {
            "type": "image_picker",
            "id": "bg_image",
            "label": "背景图"
        },
        {
            "type": "text",
            "id": "subtitle",
            "label": "子标题"
        },
        {
            "type": "text",
            "id": "title",
            "label": "标题"
        },
        {
            "type": "html",
            "id": "des",
            "label": "描述"
        }
    ]
}
{% endschema %}