<link rel="stylesheet" href="{{ 'kawa-video-display.css' | asset_url }}" media="print" onload="this.media='all'">

<div class="kawa-video-display text-center">
  <h2 class="video-display-title">{{ section.settings.title }}</h2>
  <a href="{{ section.settings.link_one_url }}" class="video-display-link">
    <span class="text">{{ section.settings.link_one_text }}</span>
    <span class="iconify icon-arrow-right" data-icon="dashicons:arrow-right-alt2"></span>
  </a>
  <a href="{{ section.settings.link_two_url }}" class="video-display-link share-link">
    <span class="text">{{ section.settings.link_two_text }}</span>
    <span class="iconify icon-arrow-right" data-icon="dashicons:arrow-right-alt2"></span>
  </a>
  <ul class="all-video mw-1200-c">
    <div class="swiper-container">
      <div class="swiper-wrapper">
        {%- for block in section.blocks -%}
          <div class="swiper-slide">
            <li
              class="video-item"
              {{ block.shopify_attributes }}
              data-toggle="modal"
              data-target="#{{ section.id }}-video-modal-{{ forloop.index }}"
            >
              <img src="{{ block.settings.video_poster | image_url }}" width="270" height="200" loading="lazy">
              <div class="cover">
                <span class="iconify play-icon" data-icon="clarity:play-solid"></span>
              </div>
            </li>
          </div>
        {%- endfor -%}
      </div>
    </div>

    <!-- 模态框 视频 -->
    {%- for block in section.blocks -%}
      <div class="modal fade" id="{{ section.id }}-video-modal-{{ forloop.index }}">
        <div class="modal-dialog modal-xl modal-dialog-centered">
          <div class="modal-content">
            {{ block.settings.video_html }}
          </div>
        </div>
      </div>
    {%- endfor -%}
  </ul>
</div>

<script>
  (function () {
    const vw = window.innerWidth;
    if (vw <= 768) {
      const swiper = new Swiper('.kawa-video-display .swiper-container', {
        loop: true,
        effect: 'coverflow',
        slidesPerView: 3,
        centeredSlides: true,
        coverflow: {
          rotate: 50,
          stretch: 0,
          depth: 100,
          modifier: 1,
          slideShadows: true,
        },
      });
    } else {
      const swiper = new Swiper('.kawa-video-display .swiper-container', { slidesPerView: 4 });
    }
  })();
</script>

{% schema %}
{
  "name": "t:sections.kawa-video-display.name",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "标题"
    },
    {
      "type": "text",
      "id": "link_one_text",
      "label": "链接1文本"
    },
    {
      "type": "url",
      "id": "link_one_url",
      "label": "链接1的url"
    },
    {
      "type": "text",
      "id": "link_two_text",
      "label": "链接2文本"
    },
    {
      "type": "url",
      "id": "link_two_url",
      "label": "链接2的url"
    }
  ],
  "blocks": [
    {
      "type": "video-block",
      "name": "视频",
      "settings": [
        {
          "type": "image_picker",
          "id": "video_poster",
          "label": "视频封面"
        },
        {
          "type": "html",
          "id": "video_html",
          "label": "youtube视频html"
        }
      ]
    }
  ]
}
{% endschema %}
