{{ 'kawa-footer.css' | asset_url | stylesheet_tag }}

<div class="kawa-footer">
  <div class="footer-container mw-1200-c">
    <div class="footer-contact">
      <div class="contact-title">Contact us</div>
      <ul>
        <li class="flex">
          {% render 'icon-kawa-email' %}
          <p>
            <a
              href="mailto:{{ shop.email }}?ref=footer"
              title="mailto:{{ shop.email }}"
              class="kawa-email"
            >
              {{- shop.email }}
            </a>
          </p>
        </li>
        <li class="flex">
          <svg class="icon-f" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg">
            <path d="M825.088 90.432H209.28A137.216 137.216 0 0 0 72.448 227.264v398.464c0 75.456 61.504 136.832 136.832 136.832h78.656l58.176 150.656c6.848 13.632 17.152 20.48 30.784 20.48 13.632 0 27.328-6.848 30.784-20.48l58.176-150.656h352.256c75.328 0 136.96-61.376 136.96-136.832V227.2c6.784-75.2-54.72-136.768-129.984-136.768zm68.352 535.232a68.48 68.48 0 0 1-68.352 68.416H448.704c-13.632 0-27.328 6.976-30.72 20.48l-37.696 92.48-37.568-92.416c-6.848-13.504-17.088-20.48-30.784-20.48H209.28a68.544 68.544 0 0 1-68.416-68.416V227.2c0-37.568 30.848-68.416 68.416-68.416h615.808c37.568 0 68.352 30.848 68.352 68.416v398.464z" />
            <path d="M261.312 432a48 48 0 1 0 96 0 48 48 0 1 0-96 0zM462.656 432a48 48 0 1 0 96 0 48 48 0 1 0-96 0zM665.344 432a48 48 0 1 0 96 0 48 48 0 1 0-96 0z"/>
          </svg>
          <p>
            <a href="#">Website Live Chat</a>
            <br>
            Mon-Fri 9:00 AM-5:00 PM (PT)
          </p>
        </li>
      </ul>
    </div>
    <div class="footer-maps">
      <ul class="footer-category">
        {%- for link in linklists.footer.links -%}
          <li>
            <div class="footer-title">
              {{ link.title }}
              <i class="fold"> </i>
            </div>
            <ul>
              {%- for sub_link in link.links -%}
                <li>
                  {{ sub_link.title | link_to: sub_link.url }}
                </li>
              {%- endfor -%}
            </ul>
          </li>
        {%- endfor -%}
      </ul>
      <div class="footer-app-download">
        <div class="footer-download-title">Download App</div>
        <div class="footer-divide-line"></div>
        <div class="footer-all-app">
          <div class="app-wrap">
            <figure class="app-icon">
              <img
                src="{{ settings.app_download_logo | image_url }}"
                alt="{{ settings.app_download_name }}"
                width="100"
                height="100"
                loading="lazy"
              >
            </figure>
            <p class="app-name">
              {{ settings.app_download_name }}
            </p>
            <div class="app-box">
              <ul class="app-stores">
                <li>
                  <a href="{{ settings.app_download_ios }}" target="_blank">
                    <img
                      src="{{ settings.app_store_img | image_url }}"
                      width="148"
                      height="42"
                      loading="lazy"
                    >
                  </a>
                </li>
                <li>
                  <a href="{{ settings.app_download_android }}" target="_blank">
                    <img
                      src="{{ settings.google_play_img | image_url }}"
                      width="148"
                      height="42"
                      loading="lazy"
                    >
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="app-wrap">
            <figure class="app-icon">
              <img
                src="{{ settings.app_download_logo_2 | image_url }}"
                alt="{{ settings.app_download_name_2 }}"
                width="100"
                height="100"
                loading="lazy"
              >
            </figure>
            <p class="app-name">
              {{ settings.app_download_name_2 }}
            </p>
            <div class="app-box">
              <ul class="app-stores">
                <li>
                  <a href="{{ settings.app_download_ios_2 }}" target="_blank">
                    <img
                      src="{{ settings.app_store_img | image_url }}"
                      width="148"
                      height="42"
                      loading="lazy"
                    >
                  </a>
                </li>
                <li>
                  <a href="{{ settings.app_download_android_2 }}" target="_blank">
                    <img
                      src="{{ settings.google_play_img | image_url }}"
                      width="148"
                      height="42"
                      loading="lazy"
                    >
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="payment-list">
        {%- for type in shop.enabled_payment_types -%}
          {{ type | payment_type_svg_tag }}
        {%- endfor -%}
      </div>
    </div>
    <div class="footer-app-download-mb">
      <div class="download-title-mb">
        <div class="divide-line-mb"></div>
        <p>Download App</p>
        <div class="divide-line-mb"></div>
      </div>
      <div class="footer-all-app">
        <div class="app-wrap">
          <figure class="app-icon">
            <img
              src="{{ settings.app_download_logo | image_url }}"
              alt="{{ settings.app_download_name }}"
              width="100"
              height="100"
              loading="lazy"
            >
          </figure>
          <p class="app-name">
            {{ settings.app_download_name }}
          </p>
          <div class="app-box">
            <ul class="app-stores">
              <li>
                <a href="{{ settings.app_download_ios }}" target="_blank">
                  <img
                    src="{{ settings.app_store_img | image_url }}"
                    width="148"
                    height="42"
                    loading="lazy"
                  >
                </a>
              </li>
              <li>
                <a href="{{ settings.app_download_android }}" target="_blank">
                  <img
                    src="{{ settings.google_play_img | image_url }}"
                    width="148"
                    height="42"
                    loading="lazy"
                  >
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="app-wrap">
          <figure class="app-icon">
            <img
              src="{{ settings.app_download_logo_2 | image_url }}"
              alt="{{ settings.app_download_name_2 }}"
              width="100"
              height="100"
              loading="lazy"
            >
          </figure>
          <p class="app-name">
            {{ settings.app_download_name_2 }}
          </p>
          <div class="app-box">
            <ul class="app-stores">
              <li>
                <a href="{{ settings.app_download_ios_2 }}" target="_blank">
                  <img
                    src="{{ settings.app_store_img | image_url }}"
                    width="148"
                    height="42"
                    loading="lazy"
                  >
                </a>
              </li>
              <li>
                <a href="{{ settings.app_download_android_2 }}" target="_blank">
                  <img
                    src="{{ settings.google_play_img | image_url }}"
                    width="148"
                    height="42"
                    loading="lazy"
                  >
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <ul class="social-media-wrap">
      {%- render 'kawa-social-list' -%}
    </ul>
    <p class="footer-copyright">
      {{ settings.copyright_text }}
    </p>
  </div>
</div>

<script>
  (function () {
    if (window.innerWidth <= 768) {
      const allFooterCategory = document.querySelectorAll('.kawa-footer .footer-category > li');
      Array.from(allFooterCategory).forEach((footer) => {
        footer.addEventListener('click', () => {
          if (footer.classList.contains('active')) {
            footer.classList.remove('active');
          } else {
            Array.from(allFooterCategory).forEach((f) => {
              f.classList.remove('active');
            });
            footer.classList.add('active');
          }
        });
      });
    }
  })();
</script>

{% schema %} { "name": "footer" } {% endschema %}
