{{ 'kawa-faq.css' | asset_url | stylesheet_tag }}

<div id="product-page-faq" class="kawa-faq mw-1000-c">
  <h1 class="title">{{ section.settings.title }}</h1>

  {%- for block in section.blocks -%}
    <div {{ block.shopify_attributes }}>
      <div class="kawa-accordion">
        <span class="kawa-accordion-name">
          {{ block.settings.question }}
        </span>
        {% render 'icon-kawa-arrow-right' %}
      </div>
      <div class="kawa-accordion-content">
        <span class="accordion-content__inner">
          {{ block.settings.solution }}
        </span>
      </div>
    </div>
  {%- endfor -%}
</div>

{% schema %}
{
  "name": "FAQ",
  "tag": "section",
  "settings": [{ "type": "text", "id": "title", "label": "标题", "default": "FAQ" }],
  "blocks": [
    {
      "type": "faq_item",
      "name": "faq项",
      "settings": [
        { "type": "text", "id": "question", "label": "问题" },
        { "type": "textarea", "id": "solution", "label": "解答" }
      ]
    }
  ]
}
{% endschema %}
