{{ "kawa-main-product.css" | asset_url | stylesheet_tag }}

<div id="product-page-purchase" class="kawa-main-product w-100">
  <div class="product-page-header flex-b">
    <p class="product-short-name">
      {{ product.metafields.descriptors.subtitle }}
    </p>
    <nav class="product-header-nav flex-bc">
      <a class="header-nav-item product-nav-item-1 active">Purchase</a>
      <a class="header-nav-item product-nav-item-2">Overview</a>
      <a class="header-nav-item product-nav-item-3">Compare</a>
      <a class="header-nav-item product-nav-item-4">FAQ</a>
    </nav>
  </div>

  <div class="product-page-main d-flex w-100">
    <div class="product-images">
      <div class="swiper-container main-product-swiper-container">
        <div class="swiper-wrapper">
          {%- for image in product.images -%}
          <div class="swiper-slide">
            <img
              src="{{ image | image_url }}"
              loading="lazy"
              class="w-100-h-auto"
              width="100"
              height="100"
            />
          </div>
          {%- endfor -%}
        </div>
        <div class="swiper-pagination swiper-pagination-custom"></div>
        <div
          class="main-product-button-next swiper-button-next swiper-button-white"
        ></div>
        <div
          class="main-product-button-prev swiper-button-prev swiper-button-white"
        ></div>
      </div>
    </div>
    <div class="product-information">
      <div class="product-details">
        <div class="name-and-price border-bottom">
          <h1 class="product-information-name">
            {{ product.metafields.descriptors.subtitle }}
          </h1>
          <div class="product-information-price">
            {%- unless product.price_varies == false and product.compare_at_price_varies %}
              <span class="orig-price">
                {{ product.compare_at_price | money }}
              </span>
              &nbsp;
            {%- endunless -%}
            {{ product.price | money }}
          </div>
        </div>
        <div class="product-description border-bottom">
          {{ product.description }}
        </div>
        {% if section.settings.show_comment %}
          <div class="product-rating border-bottom">5颗星</div>
        {% endif %}
        {%- if section.settings.show_discount -%}
          <div class="product-discount-code border-bottom">
            <p class="discount-title"  data-toggle="modal" data-target="#discount-modal">
              <svg class="icon-f" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg">
                <path d="M920.952 337.345c-22.474-53.132-54.639-100.843-95.604-141.807-40.964-40.964-88.675-73.13-141.807-95.603C628.517 76.661 570.083 64.86 509.866 64.86c-60.217 0-118.65 11.801-173.676 35.075-53.132 22.473-100.843 54.639-141.807 95.603-40.964 40.964-73.13 88.675-95.603 141.807-23.274 55.026-35.075 113.458-35.075 173.676s11.801 118.65 35.075 173.676c22.473 53.132 54.639 100.843 95.603 141.807 40.964 40.965 88.675 73.13 141.807 95.604 55.026 23.273 113.458 35.074 173.676 35.074 60.217 0 118.65-11.801 173.676-35.074 53.132-22.474 100.843-54.639 141.807-95.604 40.965-40.964 73.13-88.675 95.604-141.807 23.273-55.026 35.074-113.459 35.074-173.676s-11.801-118.65-35.075-173.676zM552.268 827.936c-12.134 10.795-26.157 16.178-42.063 16.178-16.45 0-30.805-5.324-43.078-15.972-12.266-10.648-18.399-25.547-18.399-44.681 0-17.002 5.927-31.283 17.796-42.887 11.862-11.589 26.422-17.384 43.681-17.384 16.987 0 31.275 5.795 42.872 17.384 11.589 11.604 17.392 25.885 17.392 42.887-.001 18.87-6.068 33.695-18.201 44.475zm151.059-374.509c-9.295 17.252-20.355 32.15-33.165 44.681-12.803 12.545-35.791 33.636-68.956 63.301-9.17 8.354-16.516 15.708-22.039 22.046-5.53 6.339-9.648 12.134-12.34 17.384-2.699 5.265-4.787 10.516-6.265 15.781-1.485 5.251-3.714 14.487-6.677 27.709-5.125 28.032-21.171 42.063-48.13 42.063-14.024 0-25.819-4.589-35.393-13.766-9.567-9.163-14.354-22.782-14.354-40.842 0-22.649 3.5-42.269 10.516-58.844 7.008-16.59 16.311-31.15 27.907-43.681 11.589-12.545 27.231-27.444 46.917-44.696 17.252-15.105 29.731-26.488 37.408-34.18a115.268 115.268 0 0 0 19.414-25.679c5.265-9.442 7.891-19.678 7.891-30.738 0-21.576-8.023-39.769-24.069-54.609-16.038-14.825-36.739-22.238-62.08-22.238-29.665 0-51.505 7.486-65.522 22.443-14.023 14.972-25.885 37.004-35.592 66.125-9.17 30.474-26.562 45.711-52.174 45.711-15.104 0-27.841-5.324-38.217-15.972-10.383-10.648-15.575-22.179-15.575-34.592 0-25.606 8.221-51.564 24.672-77.846 16.443-26.297 40.445-48.064 71.993-65.316 31.547-17.266 68.353-25.885 110.416-25.885 39.092 0 73.611 7.207 103.54 21.635s53.05 34.033 69.36 58.844c16.318 24.811 24.473 51.77 24.473 80.891-.001 22.913-4.649 43.003-13.959 60.27z"/>
              </svg>
              <span>Hurry! Offer Ends Soon!</span>

              <div class="modal fade" id="discount-modal">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">

                    <!-- 模态框头部 -->
                    <div class="modal-header">
                      <h4 class="modal-title">Discount Code FAQ</h4>
                      <button type="button" class="close" data-dismiss="modal" style="font-size: 35px;">&times;</button>
                    </div>

                    <!-- 模态框主体 -->
                    <div class="modal-body">
                      {{ section.settings.discount_faq | escape }}
                    </div>
                  </div>
                </div>
              </div>
            </p>
            <div class="discount-code">
              <div class="price-off">
                <h3>${{ section.settings.discount_money }}</h3>
                <span>OFF</span>
              </div>
              <div class="discount-code-wrapper">
                <div class="code-text">
                  <h5>
                    <span>Code: </span>
                    <span class="code" id="discount-code">{{ section.settings.discount_code }}</span>
                  </h5>
                </div>
                <div class="copy-box">
                  <p class="copy-text" onclick="onCopyTextClick()" data-clipboard-target="#discount-code">COPY</p>
                  <p class="copied-text" style="display: none;">COPIED</p>
                </div>
              </div>
            </div>
          </div>
        {%- endif -%}
        {%- if section.settings.show_share -%}
          <div class="product-share-friend border-bottom">
            <span>
              <svg class="icon-f" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" width="24" height="24">
                <path d="M85.333 128A42.667 42.667 0 0 1 128 85.333h341.333A42.667 42.667 0 0 1 499.5 97.835L926.165 524.5a42.667 42.667 0 0 1 0 60.331L584.832 926.165a42.667 42.667 0 0 1-60.33 0L97.834 499.5a42.667 42.667 0 0 1-12.502-30.166V128zm85.334 42.667v281.002l384 384 281.002-281.002-384-384H170.667z" fill="#0D0D0D"/>
                <path d="M384 320a64 64 0 1 1-128 0 64 64 0 0 1 128 0z" fill="#0D0D0D"/>
              </svg>
              Get $40 for every friend you refer
            </span>
            {% render 'icon-kawa-arrow-right' %}
          </div>
        {%- endif -%}
        {%- if product.has_only_default_variant -%}
          <input
            type="hidden"
            name="id"
            value="{{ product.selected_or_first_available_variant.id }}"
            {% if product.selected_or_first_available_variant.availabel == false %}disabled {% endif %}
            form="product-purchase-form"
          >
        {%- else -%}
          <div class="product-variant border-bottom"></div>
        {%- endif -%}

        </div>
        <div class="product-purchase-quantity border-bottom">
          <label for="quantity">Qty</label>
          <quantity-input class="quantity-box">
            <button class="quantity__button no-js-hidden minus-btn" name="minus" type="button">
              <span class="visually-hidden">
                {{- 'products.product.quantity.decrease' | t: product: product.title | escape -}}
              </span>
              {% render 'icon-minus' %}
            </button>
            <input
              class="quantity__input"
              type="number"
              name="quantity"
              min="1"
              value="1"
              form="product-purchase-form"
            >
            <button class="quantity__button no-js-hidden plus-btn" name="plus" type="button">
              <span class="visually-hidden">
                {{- 'products.product.quantity.increase' | t: product: product.title | escape -}}
              </span>
              {% render 'icon-plus' %}
            </button>
          </quantity-input>
        </div>
        <div class="product-store border-bottom">
          <div class="product-store-title">Kawa Store</div>
          <div class="product-store-list">
            {%- for block in section.blocks -%}
              {%- case block.type -%}
                {%- when "store_info_item" -%}
                  <div class="kawa-store-list__item">
                    <div class="store-info-item" data-toggle="modal" data-target="#store-modal-{{ forloop.index }}">
                      <p>{{ block.settings.title }}</p>
                    </div>

                    <div class="modal fade" id="store-modal-{{ forloop.index }}">
                      <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">

                          <!-- 模态框头部 -->
                          <div class="modal-header">
                            <h4 class="modal-title">{{ block.settings.title }}</h4>
                            <button type="button" class="close" data-dismiss="modal" style="font-size: 35px;">&times;</button>
                          </div>

                          <!-- 模态框主体 -->
                          <div class="modal-body">
                            {{ block.settings.content }}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                {%- else -%}
              {%- endcase -%}
            {%- endfor -%}
          </div>
        </div>
        {%- if section.settings.show_payment_flags -%}
          <div class="payment-method border-bottom">
            <div class="payment-method-title">Pay with Ease</div>
            <div>
              {% for type in shop.enabled_payment_types -%}
                {{ type | payment_type_svg_tag }}
              {% endfor %}
            </div>
          </div>
        {%- endif -%}
      </div>
    </div>
  </div>
</div>

<script src="{{ 'clipboard.min.js' | asset_url }}"></script>

<script type="text/javascript">
  const productTabList = [];
  const onProductTabClick = (tab) => {
    tab.tabMenu.addEventListener("click", (e) => {
      productTabList.forEach((t) => {
        t.tabMenu.classList.remove("active");
      });
      tab.tabMenu.classList.add("active");
    });
  };
  for (let i = 1; i <= 4; i++) {
    const temp = {
      tabMenu: document.querySelector(`.product-nav-item-${i}`),
    };
    productTabList.push(temp);
    onProductTabClick(temp);
  }

  window.addEventListener("load", () => {
    var swiper = new Swiper(".main-product-swiper-container", {
      loop: true,
      navigation: {
        nextEl: ".main-product-button-next",
        prevEl: ".main-product-button-prev"
      },
      pagination: {
        el: ".swiper-pagination-custom",
        type: "fraction"
      }
    });
  });

  //监听滚动事件固定导航头
  function fixNav() {
    const navElement = document.querySelector(".product-page-header");
    window.addEventListener(
      "scroll",
      debounce(() => {
        const afterScrollTop = document.documentElement.scrollTop;

        if (afterScrollTop >= 88) {
          navElement.classList.add("fixed");
        } else {
          navElement.classList.remove("fixed");
        }
      }, 100)
    );
  }

  window.addEventListener('load',()=> {
    fixNav();
  })

  const copyText = document.querySelector(".copy-text");
  const copiedText = document.querySelector(".copied-text");

  const onCopyTextClick = () => {
    copyText.style.display = "none";
    copiedText.style.display = "block";
    setTimeout(() => {
      copyText.style.display = "block";
    copiedText.style.display = "none";
    },1000);
  }
  new ClipboardJS(".copy-text");

  //导航
  window.addEventListener("load",() => {
    const purchaseEl = document.getElementById("product-page-purchase");
    const purchaseNav = document.querySelector(".product-nav-item-1");
    const overviewEl = document.getElementById("product-page-overview");
    const overviewNav = document.querySelector(".product-nav-item-2");
    const compareEl = document.getElementById("product-page-compare");
    const compareNav = document.querySelector(".product-nav-item-3");
    const faqEl = document.getElementById("product-page-faq");
    const faqNav = document.querySelector(".product-nav-item-4");

    const productNavEls = [
      {el:purchaseEl,nav:purchaseNav},
      {el:overviewEl,nav:overviewNav},
      {el:compareEl,nav:compareNav},
      {el:faqEl,nav:faqNav}
    ]

    productNavEls.forEach((item) => {
      if(item.el && item.nav) {
        item.nav.onclick = () => {
          window.scrollTo({
            top: item.el.offsetTop - 100,
            behavior: "smooth"
          })
        }
      }
    })

    window.addEventListener("scroll", () => {
      const viewportHeight = window.innerHeight;
      productNavEls.forEach((item) => {
        if(item.el && item.nav) {
          if(item.el.getBoundingClientRect().top < viewportHeight) {
            productNavEls.forEach((it) => {
              it.nav.classList.remove("active");
            });
            item.nav.classList.add("active");
          }
        }
      })
    })
  })
</script>

{% schema %}
{
  "name": "产品页主要区域",
  "tag": "section",
  "settings": [
    {
     "type": "text",
     "id": "discount_code",
     "label": "折扣码"
    },
    {
      "type": "checkbox",
      "id": "show_comment",
      "label": "显示评价",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_discount",
      "label": "显示折扣码",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_share",
      "label": "显示分享",
      "default": true
    },
    {
      "type": "number",
      "id": "discount_money",
      "label": "折扣金额"
    },
    {
      "type": "richtext",
      "id": "discount_faq",
      "label": "折扣FAQ"
    },
    {
      "type": "checkbox",
      "id": "show_payment_flags",
      "label": "显示支持的支付方式图标",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "store_info_item",
      "name": "商店信息项",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "标题"
        },
        {
          "type": "html",
          "id": "content",
          "label": "内容"
        }
      ]
    }
  ]
}
{% endschema %}