{{ "kawa-products-card.css" | asset_url | stylesheet_tag }}

<div class="products-card-container mw-1200-c {{ section.id }}">
  <div class="container-title">{{ section.settings.title | escape }}</div>
  <div class="container-all-card flex-b flex-wrap w-100">
    {%- for block in section.blocks -%}
      <a href="{{ block.settings.card_product.url }}">
        <div class="product-card product-card-{{ forloop.index }}">
          <figure class="w-100">
            <img
              src="{{ block.settings.card_image | image_url }}"
              class="w-100-h-auto product-img--pc"
              width="100"
              height="100"
              loading="lazy" />
            <img
              src="{{ block.settings.card_image_mb | image_url }}"
              class="w-100-h-auto product-img--mb"
              width="100"
              height="100"
              loading="lazy" />
          </figure>
          <div class="card-description-box flex-vc wh-100">
            <p class="description-title">{{ block.settings.title }}</p>
            <p class="description-desc">{{ block.settings.des }}</p>
            <a href="{{ block.settings.card_product.url }}" class="learn-more-btn">Shop Now</a>
          </div>
        </div>
      </a>
    {%- endfor -%}
  </div>
</div>

{% schema %}
  {
    "name": "产品卡片",
    "class": "kawa-products-card__section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "标题"
      }
    ],
    "blocks": [
      {
        "type": "product-card",
        "name": "产品卡",
        "settings": [
          {
            "type": "product",
            "id": "card_product",
            "label": "卡片对应的产品"
          },
          {
            "type": "image_picker",
            "id": "card_image",
            "label": "卡片对应的图片"
          },
          {
            "type": "image_picker",
            "id": "card_image_mb",
            "label": "卡片对应的图片(移动端)"
          },
          {
            "type": "text",
            "id": "title",
            "label": "卡片标题"
          }, {
            "type": "text",
            "id": "des",
            "label": "描述"
          }
        ]
      }
    ]
  }
{% endschema %}