{{ "kawa-faq-list.css" | asset_url | stylesheet_tag }}

<div class="kawa-faq-list">
    <nav class="nav">
        <ol class="breadcrumbs">
            <li>
                <a href="{{ pages['support-center'].url }}">
                    Kawa Support
                </a>
            </li>
            <li>
                FAQs
            </li>
        </ol>
    </nav>
    <div class="faq-category-container">
        <div class="category-content">
            <header class="content-header">
                <h1>FAQs</h1>
                <p>
                    {{ section.settings.des }}
                </p>
            </header>
            <div class="main-content">
                <section>
                    <h2 class="faq-section-title">
                        <a href="{{ blogs['Q-A'].url }}">
                            {{ blogs['Q-A'].title }}
                        </a>
                    </h2>
                    <ul class="article-list">
                        {%- for article in blogs['Q-A'].articles -%}
                            <li class="article-item">
                                <a href="{{ article.url }}">
                                {{ article.title }}
                                </a>
                            </li>
                        {%- endfor -%}
                    </ul>
                    <a href="{{ blogs['Q-A'].url }}" class="see-all-article">
                        See all {{ blogs['Q-A'].articles_count }} articles
                    </a>
                </section>
                <section>
                    <h2 class="faq-section-title">
                        <a href="{{ blogs['introduction'].url }}">
                            {{ blogs['introduction'].title }}
                        </a>
                    </h2>
                    <ul class="article-list">
                        {%- for article in blogs.introduction.articles -%}
                            <li class="article-item">
                                <a>
                                {{ article.title }}
                                </a>
                            </li>
                        {%- endfor -%}
                    </ul>
                    <a href="{{ blogs['introduction'].url }}" class="see-all-article">
                        See all {{ blogs['introduction'].articles_count }} articles
                    </a>
                </section>
            </div>
        </div>
    </div>
</div>

{% schema %}
{
    "name": "faq list",
    "tag": "section",
    "settings": [
        {
            "type": "textarea",
            "id": "des",
            "label": "描述"
        }
    ]
}
{% endschema %}